{
  "openapi": "3.0.1",
  "info": {
    "title": "exida SILstat API",
    "description": "exSILentia Enterprise API provides programmatic access to the underlying data model for exSILentia SILstat and Dashboard.",
    "version": "2024-09-24-preview"
  },
  "servers": [
    {
      "url": "https://api.silstat.exsilentia.com/api"
    }
  ],
  "paths": {
    "/area/{id}/child/{childId}": {
      "delete": {
        "description": "This deletes a Parent Area by it's GUID.",
        "operationId": "DeleteAreaAreaEntity",
        "parameters": [
          {
            "description": "Parent Area ID to delete",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Parent Area ID to delete"
          },
          {
            "description": "Child Area ID to delete",
            "in": "path",
            "name": "childId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Child Area ID to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "x-ms-summary": "Area Deleted successfully"
          },
          "404": {
            "description": "Invalid ID supplied",
            "x-ms-summary": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Deletes the Parent Entity",
        "tags": [
          "ParentArea"
        ]
      },
      "get": {
        "description": "Finds the Area Parent Entity by it's GUID",
        "operationId": "FindAreaChildById",
        "parameters": [
          {
            "description": "ID of the Area",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Area ID"
          },
          {
            "description": "ID of the Child Area",
            "in": "path",
            "name": "childId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Child Area ID"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "New Parent Area details added",
            "x-ms-summary": "New Parent Area details added"
          },
          "400": {
            "description": "Invalid Data",
            "x-ms-summary": "Invalid Data"
          },
          "404": {
            "description": "Area not found",
            "x-ms-summary": "Area not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Find Parent Area Entity by id",
        "tags": [
          "ParentArea"
        ]
      },
      "post": {
        "description": "This creates a new Parent Area",
        "operationId": "CreateAreaAreaEntity",
        "parameters": [
          {
            "description": "ID of the Parent",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Parent ID"
          },
          {
            "description": "ID of the Child (Area)",
            "in": "path",
            "name": "childId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Child (Area) ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": "Creates a new Parent",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "New Parent Area details added",
            "x-ms-summary": "New Parent Area details added"
          },
          "400": {
            "description": "Invalid Data",
            "x-ms-summary": "Invalid Data"
          },
          "404": {
            "description": "Area not found",
            "x-ms-summary": "Area not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Creates a new Parent Area",
        "tags": [
          "ParentArea"
        ]
      },
      "put": {
        "description": "This updates the Parent Area entity",
        "operationId": "UpdateAreaAreaEntity",
        "parameters": [
          {
            "description": "ID of the Parent",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Parent ID"
          },
          {
            "description": "Child (Area) ID of the Parent to be update",
            "in": "path",
            "name": "childId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Child (Area) ID of the Parent to be update"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": "Area that needs to be updated",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Update Parent Area details",
            "x-ms-summary": "Update Parent Area details"
          },
          "400": {
            "description": "Invalid GUID supplied",
            "x-ms-summary": "Invalid GUID supplied"
          },
          "404": {
            "description": "Parent Area not found",
            "x-ms-summary": "Parent Area not found"
          },
          "405": {
            "description": "Validation failed",
            "x-ms-summary": "Validation failed"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Update Parent Aera Entity",
        "tags": [
          "ParentArea"
        ]
      }
    },
    "/areadevicenodegroupings": {
      "get": {
        "description": "This returns the paginated results for Area Device Node Grouping Entity based on the OData Query Parameters.",
        "operationId": "QueryAreaDeviceNodeGrouping",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AreaDeviceNodeGroupingEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Area Device Node Grouping Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "Invalid data provided",
            "x-ms-summary": "Invalid"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Query Paginated results for Area Device Node Grouping Entity",
        "tags": [
          "AreaDeviceNodeGrouping"
        ]
      },
      "post": {
        "description": "This creates a new AreaDeviceNodeGrouping",
        "operationId": "CreateAreaDeviceNodeGrouping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AreaDeviceNodeGroupingEntity"
              }
            }
          },
          "description": "Creates a new AreaDeviceNodeGrouping",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaDeviceNodeGroupingEntity"
                }
              }
            },
            "description": "New AreaDeviceNodeGrouping details added",
            "x-ms-summary": "New AreaDeviceNodeGrouping details added"
          },
          "400": {
            "description": "Invalid Data",
            "x-ms-summary": "Invalid Data"
          },
          "404": {
            "description": "AreaDeviceNodeGrouping not found",
            "x-ms-summary": "AreaDeviceNodeGrouping not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Creates a new AreaDeviceNodeGrouping",
        "tags": [
          "AreaDeviceNodeGrouping"
        ]
      }
    },
    "/areadevicenodegroupings/search/{languageCode}": {
      "get": {
        "description": "This searches the Area Device Node Grouping Entity",
        "operationId": "SearchAreaDeviceNodeGrouping",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          },
          {
            "description": "Query Text",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "q"
          },
          {
            "description": "list of comma separated label ids",
            "in": "query",
            "name": "l",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "l"
          },
          {
            "description": "The language the search text is in",
            "in": "path",
            "name": "languageCode",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "The language code"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AreaDeviceNodeGroupingEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Area Device Node Grouping Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "No entities found",
            "x-ms-summary": "No entities found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Search for Area Device Node Grouping Entity",
        "tags": [
          "AreaDeviceNodeGrouping"
        ]
      }
    },
    "/areadevicenodegroupings/{id}": {
      "delete": {
        "description": "This deletes a(n) AreaDeviceNodeGrouping by it's GUID.",
        "operationId": "DeleteAreaDeviceNodeGrouping",
        "parameters": [
          {
            "description": "AreaDeviceNodeGrouping id to delete",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "AreaDeviceNodeGrouping id to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "x-ms-summary": "AreaDeviceNodeGrouping Deleted successfully"
          },
          "404": {
            "description": "Invalid ID supplied",
            "x-ms-summary": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Deletes the Entity",
        "tags": [
          "AreaDeviceNodeGrouping"
        ]
      },
      "get": {
        "description": "Finds the Area Device Node Grouping Entity by it's GUID",
        "operationId": "FindAreaDeviceNodeGroupingById",
        "parameters": [
          {
            "description": "Id of the Area Device Node Grouping Entity to retrieve",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Area Device Node Grouping Entity id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaDeviceNodeGroupingEntity"
                }
              }
            },
            "description": "successful operation",
            "x-ms-summary": "successful operation"
          },
          "404": {
            "description": "Invalid status value",
            "x-ms-summary": "Invalid status value"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Find Area Device Node Grouping Entity by id",
        "tags": [
          "AreaDeviceNodeGrouping"
        ]
      },
      "put": {
        "description": "This updates the AreaDeviceNodeGrouping entity",
        "operationId": "UpdateAreaDeviceNodeGrouping",
        "parameters": [
          {
            "description": "Id of the AreaDeviceNodeGrouping to be updated",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "AreaDeviceNodeGrouping id to update"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AreaDeviceNodeGroupingEntity"
              }
            }
          },
          "description": "AreaDeviceNodeGrouping that needs to be updated",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaDeviceNodeGroupingEntity"
                }
              }
            },
            "description": "Update Area Device Node Grouping Entity details",
            "x-ms-summary": "Update AreaDeviceNodeGrouping details"
          },
          "404": {
            "description": "AreaDeviceNodeGrouping not found",
            "x-ms-summary": "AreaDeviceNodeGrouping not found"
          },
          "405": {
            "description": "Validation exception",
            "x-ms-summary": "Validation exception"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Update Entity",
        "tags": [
          "AreaDeviceNodeGrouping"
        ]
      }
    },
    "/areadevicenodes": {
      "get": {
        "description": "This returns the paginated results for Area Device Node Entity based on the OData Query Parameters.",
        "operationId": "QueryAreaDeviceNode",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AreaDeviceNodeEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Area Device Node Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "Invalid data provided",
            "x-ms-summary": "Invalid"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Query Paginated results for Area Device Node Entity",
        "tags": [
          "AreaDeviceNode"
        ]
      },
      "post": {
        "description": "This creates a new AreaDeviceNode",
        "operationId": "CreateAreaDeviceNode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AreaDeviceNodeEntity"
              }
            }
          },
          "description": "Creates a new AreaDeviceNode",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaDeviceNodeEntity"
                }
              }
            },
            "description": "New AreaDeviceNode details added",
            "x-ms-summary": "New AreaDeviceNode details added"
          },
          "400": {
            "description": "Invalid Data",
            "x-ms-summary": "Invalid Data"
          },
          "404": {
            "description": "AreaDeviceNode not found",
            "x-ms-summary": "AreaDeviceNode not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Creates a new AreaDeviceNode",
        "tags": [
          "AreaDeviceNode"
        ]
      }
    },
    "/areadevicenodes/search/{languageCode}": {
      "get": {
        "description": "This searches the Area Device Node Entity",
        "operationId": "SearchAreaDeviceNode",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          },
          {
            "description": "Query Text",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "q"
          },
          {
            "description": "list of comma separated label ids",
            "in": "query",
            "name": "l",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "l"
          },
          {
            "description": "The language the search text is in",
            "in": "path",
            "name": "languageCode",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "The language code"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AreaDeviceNodeEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Area Device Node Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "No entities found",
            "x-ms-summary": "No entities found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Search for Area Device Node Entity",
        "tags": [
          "AreaDeviceNode"
        ]
      }
    },
    "/areadevicenodes/{id}": {
      "delete": {
        "description": "This deletes a(n) AreaDeviceNode by it's GUID.",
        "operationId": "DeleteAreaDeviceNode",
        "parameters": [
          {
            "description": "AreaDeviceNode id to delete",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "AreaDeviceNode id to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "x-ms-summary": "AreaDeviceNode Deleted successfully"
          },
          "404": {
            "description": "Invalid ID supplied",
            "x-ms-summary": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Deletes the Entity",
        "tags": [
          "AreaDeviceNode"
        ]
      },
      "get": {
        "description": "Finds the Area Device Node Entity by it's GUID",
        "operationId": "FindAreaDeviceNodeById",
        "parameters": [
          {
            "description": "Id of the Area Device Node Entity to retrieve",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Area Device Node Entity id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaDeviceNodeEntity"
                }
              }
            },
            "description": "successful operation",
            "x-ms-summary": "successful operation"
          },
          "404": {
            "description": "Invalid status value",
            "x-ms-summary": "Invalid status value"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Find Area Device Node Entity by id",
        "tags": [
          "AreaDeviceNode"
        ]
      },
      "put": {
        "description": "This updates the AreaDeviceNode entity",
        "operationId": "UpdateAreaDeviceNode",
        "parameters": [
          {
            "description": "Id of the AreaDeviceNode to be updated",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "AreaDeviceNode id to update"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AreaDeviceNodeEntity"
              }
            }
          },
          "description": "AreaDeviceNode that needs to be updated",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaDeviceNodeEntity"
                }
              }
            },
            "description": "Update Area Device Node Entity details",
            "x-ms-summary": "Update AreaDeviceNode details"
          },
          "404": {
            "description": "AreaDeviceNode not found",
            "x-ms-summary": "AreaDeviceNode not found"
          },
          "405": {
            "description": "Validation exception",
            "x-ms-summary": "Validation exception"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Update Entity",
        "tags": [
          "AreaDeviceNode"
        ]
      }
    },
    "/areahistories": {
      "get": {
        "description": "This returns the paginated results for Area History Entity based on the OData Query Parameters.",
        "operationId": "QueryAreaHistory",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AreaHistoryEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Area History Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "Invalid data provided",
            "x-ms-summary": "Invalid"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Query Paginated results for Area History Entity",
        "tags": [
          "AreaHistory"
        ]
      },
      "post": {
        "description": "This creates a new AreaHistory",
        "operationId": "CreateAreaHistory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AreaHistoryEntity"
              }
            }
          },
          "description": "Creates a new AreaHistory",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaHistoryEntity"
                }
              }
            },
            "description": "New AreaHistory details added",
            "x-ms-summary": "New AreaHistory details added"
          },
          "400": {
            "description": "Invalid Data",
            "x-ms-summary": "Invalid Data"
          },
          "404": {
            "description": "AreaHistory not found",
            "x-ms-summary": "AreaHistory not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Creates a new AreaHistory",
        "tags": [
          "AreaHistory"
        ]
      }
    },
    "/areahistories/search/{languageCode}": {
      "get": {
        "description": "This searches the Area History Entity",
        "operationId": "SearchAreaHistory",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          },
          {
            "description": "Query Text",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "q"
          },
          {
            "description": "list of comma separated label ids",
            "in": "query",
            "name": "l",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "l"
          },
          {
            "description": "The language the search text is in",
            "in": "path",
            "name": "languageCode",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "The language code"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AreaHistoryEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Area History Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "No entities found",
            "x-ms-summary": "No entities found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Search for Area History Entity",
        "tags": [
          "AreaHistory"
        ]
      }
    },
    "/areahistories/{id}": {
      "delete": {
        "description": "This deletes a(n) AreaHistory by it's GUID.",
        "operationId": "DeleteAreaHistory",
        "parameters": [
          {
            "description": "AreaHistory id to delete",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "AreaHistory id to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "x-ms-summary": "AreaHistory Deleted successfully"
          },
          "404": {
            "description": "Invalid ID supplied",
            "x-ms-summary": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Deletes the Entity",
        "tags": [
          "AreaHistory"
        ]
      },
      "get": {
        "description": "Finds the Area History Entity by it's GUID",
        "operationId": "FindAreaHistoryById",
        "parameters": [
          {
            "description": "Id of the Area History Entity to retrieve",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Area History Entity id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaHistoryEntity"
                }
              }
            },
            "description": "successful operation",
            "x-ms-summary": "successful operation"
          },
          "404": {
            "description": "Invalid status value",
            "x-ms-summary": "Invalid status value"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Find Area History Entity by id",
        "tags": [
          "AreaHistory"
        ]
      },
      "put": {
        "description": "This updates the AreaHistory entity",
        "operationId": "UpdateAreaHistory",
        "parameters": [
          {
            "description": "Id of the AreaHistory to be updated",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "AreaHistory id to update"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AreaHistoryEntity"
              }
            }
          },
          "description": "AreaHistory that needs to be updated",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaHistoryEntity"
                }
              }
            },
            "description": "Update Area History Entity details",
            "x-ms-summary": "Update AreaHistory details"
          },
          "404": {
            "description": "AreaHistory not found",
            "x-ms-summary": "AreaHistory not found"
          },
          "405": {
            "description": "Validation exception",
            "x-ms-summary": "Validation exception"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Update Entity",
        "tags": [
          "AreaHistory"
        ]
      }
    },
    "/areaordevices": {
      "get": {
        "description": "This returns the paginated results for Area Or Device Entity based on the OData Query Parameters.",
        "operationId": "QueryAreaOrDevice",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AreaOrDeviceEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Area Or Device Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "Invalid data provided",
            "x-ms-summary": "Invalid"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Query Paginated results for Area Or Device Entity",
        "tags": [
          "AreaOrDevice"
        ]
      },
      "post": {
        "description": "This creates a new AreaOrDevice",
        "operationId": "CreateAreaOrDevice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AreaOrDeviceEntity"
              }
            }
          },
          "description": "Creates a new AreaOrDevice",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaOrDeviceEntity"
                }
              }
            },
            "description": "New AreaOrDevice details added",
            "x-ms-summary": "New AreaOrDevice details added"
          },
          "400": {
            "description": "Invalid Data",
            "x-ms-summary": "Invalid Data"
          },
          "404": {
            "description": "AreaOrDevice not found",
            "x-ms-summary": "AreaOrDevice not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Creates a new AreaOrDevice",
        "tags": [
          "AreaOrDevice"
        ]
      }
    },
    "/areaordevices/search/{languageCode}": {
      "get": {
        "description": "This searches the Area Or Device Entity",
        "operationId": "SearchAreaOrDevice",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          },
          {
            "description": "Query Text",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "q"
          },
          {
            "description": "list of comma separated label ids",
            "in": "query",
            "name": "l",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "l"
          },
          {
            "description": "The language the search text is in",
            "in": "path",
            "name": "languageCode",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "The language code"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AreaOrDeviceEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Area Or Device Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "No entities found",
            "x-ms-summary": "No entities found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Search for Area Or Device Entity",
        "tags": [
          "AreaOrDevice"
        ]
      }
    },
    "/areaordevices/{id}": {
      "delete": {
        "description": "This deletes a(n) AreaOrDevice by it's GUID.",
        "operationId": "DeleteAreaOrDevice",
        "parameters": [
          {
            "description": "AreaOrDevice id to delete",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "AreaOrDevice id to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "x-ms-summary": "AreaOrDevice Deleted successfully"
          },
          "404": {
            "description": "Invalid ID supplied",
            "x-ms-summary": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Deletes the Entity",
        "tags": [
          "AreaOrDevice"
        ]
      },
      "get": {
        "description": "Finds the Area Or Device Entity by it's GUID",
        "operationId": "FindAreaOrDeviceById",
        "parameters": [
          {
            "description": "Id of the Area Or Device Entity to retrieve",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Area Or Device Entity id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaOrDeviceEntity"
                }
              }
            },
            "description": "successful operation",
            "x-ms-summary": "successful operation"
          },
          "404": {
            "description": "Invalid status value",
            "x-ms-summary": "Invalid status value"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Find Area Or Device Entity by id",
        "tags": [
          "AreaOrDevice"
        ]
      },
      "put": {
        "description": "This updates the AreaOrDevice entity",
        "operationId": "UpdateAreaOrDevice",
        "parameters": [
          {
            "description": "Id of the AreaOrDevice to be updated",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "AreaOrDevice id to update"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AreaOrDeviceEntity"
              }
            }
          },
          "description": "AreaOrDevice that needs to be updated",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaOrDeviceEntity"
                }
              }
            },
            "description": "Update Area Or Device Entity details",
            "x-ms-summary": "Update AreaOrDevice details"
          },
          "404": {
            "description": "AreaOrDevice not found",
            "x-ms-summary": "AreaOrDevice not found"
          },
          "405": {
            "description": "Validation exception",
            "x-ms-summary": "Validation exception"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Update Entity",
        "tags": [
          "AreaOrDevice"
        ]
      }
    },
    "/areas": {
      "get": {
        "description": "This returns the paginated results for Area Entity based on the OData Query Parameters.",
        "operationId": "QueryArea",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AreaEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Area Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "Invalid data provided",
            "x-ms-summary": "Invalid"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Query Paginated results for Area Entity",
        "tags": [
          "Area"
        ]
      },
      "post": {
        "description": "This creates a new Area",
        "operationId": "CreateArea",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AreaEntity"
              }
            }
          },
          "description": "Creates a new Area",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaEntity"
                }
              }
            },
            "description": "New Area details added",
            "x-ms-summary": "New Area details added"
          },
          "400": {
            "description": "Invalid Data",
            "x-ms-summary": "Invalid Data"
          },
          "404": {
            "description": "Area not found",
            "x-ms-summary": "Area not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Creates a new Area",
        "tags": [
          "Area"
        ]
      }
    },
    "/areas/search/{languageCode}": {
      "get": {
        "description": "This searches the Area Entity",
        "operationId": "SearchArea",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          },
          {
            "description": "Query Text",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "q"
          },
          {
            "description": "list of comma separated label ids",
            "in": "query",
            "name": "l",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "l"
          },
          {
            "description": "The language the search text is in",
            "in": "path",
            "name": "languageCode",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "The language code"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AreaEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Area Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "No entities found",
            "x-ms-summary": "No entities found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Search for Area Entity",
        "tags": [
          "Area"
        ]
      }
    },
    "/areas/{id}": {
      "delete": {
        "description": "This deletes a(n) Area by it's GUID.",
        "operationId": "DeleteArea",
        "parameters": [
          {
            "description": "Area id to delete",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Area id to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "x-ms-summary": "Area Deleted successfully"
          },
          "404": {
            "description": "Invalid ID supplied",
            "x-ms-summary": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Deletes the Entity",
        "tags": [
          "Area"
        ]
      },
      "get": {
        "description": "Finds the Area Entity by it's GUID",
        "operationId": "FindAreaById",
        "parameters": [
          {
            "description": "Id of the Area Entity to retrieve",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Area Entity id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaEntity"
                }
              }
            },
            "description": "successful operation",
            "x-ms-summary": "successful operation"
          },
          "404": {
            "description": "Invalid status value",
            "x-ms-summary": "Invalid status value"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Find Area Entity by id",
        "tags": [
          "Area"
        ]
      },
      "put": {
        "description": "This updates the Area entity",
        "operationId": "UpdateArea",
        "parameters": [
          {
            "description": "Id of the Area to be updated",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Area id to update"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AreaEntity"
              }
            }
          },
          "description": "Area that needs to be updated",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaEntity"
                }
              }
            },
            "description": "Update Area Entity details",
            "x-ms-summary": "Update Area details"
          },
          "404": {
            "description": "Area not found",
            "x-ms-summary": "Area not found"
          },
          "405": {
            "description": "Validation exception",
            "x-ms-summary": "Validation exception"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Update Entity",
        "tags": [
          "Area"
        ]
      }
    },
    "/areas/{id}/children": {
      "get": {
        "description": "Finds Children Areas for an Area using the Area Id",
        "operationId": "FindChildrenAreasByAreaId",
        "parameters": [
          {
            "description": "ID of the Area",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Area ID"
          },
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AreaEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Area Children details",
            "x-ms-summary": "Area Children details"
          },
          "404": {
            "description": "Area not found",
            "x-ms-summary": "Area not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Finds Children Areas for an Area using the Area Id",
        "tags": [
          "Area"
        ]
      }
    },
    "/assumptions": {
      "get": {
        "description": "This returns the paginated results for Assumption Entity based on the OData Query Parameters.",
        "operationId": "QueryAssumption",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AssumptionEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Assumption Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "Invalid data provided",
            "x-ms-summary": "Invalid"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Query Paginated results for Assumption Entity",
        "tags": [
          "Assumption"
        ]
      },
      "post": {
        "description": "This creates a new Assumption",
        "operationId": "CreateAssumption",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssumptionEntity"
              }
            }
          },
          "description": "Creates a new Assumption",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssumptionEntity"
                }
              }
            },
            "description": "New Assumption details added",
            "x-ms-summary": "New Assumption details added"
          },
          "400": {
            "description": "Invalid Data",
            "x-ms-summary": "Invalid Data"
          },
          "404": {
            "description": "Assumption not found",
            "x-ms-summary": "Assumption not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Creates a new Assumption",
        "tags": [
          "Assumption"
        ]
      }
    },
    "/assumptions/search/{languageCode}": {
      "get": {
        "description": "This searches the Assumption Entity",
        "operationId": "SearchAssumption",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          },
          {
            "description": "Query Text",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "q"
          },
          {
            "description": "list of comma separated label ids",
            "in": "query",
            "name": "l",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "l"
          },
          {
            "description": "The language the search text is in",
            "in": "path",
            "name": "languageCode",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "The language code"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AssumptionEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Assumption Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "No entities found",
            "x-ms-summary": "No entities found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Search for Assumption Entity",
        "tags": [
          "Assumption"
        ]
      }
    },
    "/assumptions/{id}": {
      "delete": {
        "description": "This deletes a(n) Assumption by it's GUID.",
        "operationId": "DeleteAssumption",
        "parameters": [
          {
            "description": "Assumption id to delete",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Assumption id to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "x-ms-summary": "Assumption Deleted successfully"
          },
          "404": {
            "description": "Invalid ID supplied",
            "x-ms-summary": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Deletes the Entity",
        "tags": [
          "Assumption"
        ]
      },
      "get": {
        "description": "Finds the Assumption Entity by it's GUID",
        "operationId": "FindAssumptionById",
        "parameters": [
          {
            "description": "Id of the Assumption Entity to retrieve",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Assumption Entity id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssumptionEntity"
                }
              }
            },
            "description": "successful operation",
            "x-ms-summary": "successful operation"
          },
          "404": {
            "description": "Invalid status value",
            "x-ms-summary": "Invalid status value"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Find Assumption Entity by id",
        "tags": [
          "Assumption"
        ]
      },
      "put": {
        "description": "This updates the Assumption entity",
        "operationId": "UpdateAssumption",
        "parameters": [
          {
            "description": "Id of the Assumption to be updated",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Assumption id to update"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssumptionEntity"
              }
            }
          },
          "description": "Assumption that needs to be updated",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssumptionEntity"
                }
              }
            },
            "description": "Update Assumption Entity details",
            "x-ms-summary": "Update Assumption details"
          },
          "404": {
            "description": "Assumption not found",
            "x-ms-summary": "Assumption not found"
          },
          "405": {
            "description": "Validation exception",
            "x-ms-summary": "Validation exception"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Update Entity",
        "tags": [
          "Assumption"
        ]
      }
    },
    "/audits": {
      "get": {
        "description": "This returns the paginated results for Audit Entity based on the OData Query Parameters.",
        "operationId": "QueryAudit",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AuditEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Audit Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "Invalid data provided",
            "x-ms-summary": "Invalid"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Query Paginated results for Audit Entity",
        "tags": [
          "Audit"
        ]
      },
      "post": {
        "description": "This creates a new Audit",
        "operationId": "CreateAudit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditEntity"
              }
            }
          },
          "description": "Creates a new Audit",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditEntity"
                }
              }
            },
            "description": "New Audit details added",
            "x-ms-summary": "New Audit details added"
          },
          "400": {
            "description": "Invalid Data",
            "x-ms-summary": "Invalid Data"
          },
          "404": {
            "description": "Audit not found",
            "x-ms-summary": "Audit not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Creates a new Audit",
        "tags": [
          "Audit"
        ]
      }
    },
    "/audits/search/{languageCode}": {
      "get": {
        "description": "This searches the Audit Entity",
        "operationId": "SearchAudit",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          },
          {
            "description": "Query Text",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "q"
          },
          {
            "description": "list of comma separated label ids",
            "in": "query",
            "name": "l",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "l"
          },
          {
            "description": "The language the search text is in",
            "in": "path",
            "name": "languageCode",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "The language code"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AuditEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Audit Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "No entities found",
            "x-ms-summary": "No entities found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Search for Audit Entity",
        "tags": [
          "Audit"
        ]
      }
    },
    "/audits/{id}": {
      "delete": {
        "description": "This deletes a(n) Audit by it's GUID.",
        "operationId": "DeleteAudit",
        "parameters": [
          {
            "description": "Audit id to delete",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Audit id to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "x-ms-summary": "Audit Deleted successfully"
          },
          "404": {
            "description": "Invalid ID supplied",
            "x-ms-summary": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Deletes the Entity",
        "tags": [
          "Audit"
        ]
      },
      "get": {
        "description": "Finds the Audit Entity by it's GUID",
        "operationId": "FindAuditById",
        "parameters": [
          {
            "description": "Id of the Audit Entity to retrieve",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Audit Entity id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditEntity"
                }
              }
            },
            "description": "successful operation",
            "x-ms-summary": "successful operation"
          },
          "404": {
            "description": "Invalid status value",
            "x-ms-summary": "Invalid status value"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Find Audit Entity by id",
        "tags": [
          "Audit"
        ]
      },
      "put": {
        "description": "This updates the Audit entity",
        "operationId": "UpdateAudit",
        "parameters": [
          {
            "description": "Id of the Audit to be updated",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Audit id to update"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditEntity"
              }
            }
          },
          "description": "Audit that needs to be updated",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditEntity"
                }
              }
            },
            "description": "Update Audit Entity details",
            "x-ms-summary": "Update Audit details"
          },
          "404": {
            "description": "Audit not found",
            "x-ms-summary": "Audit not found"
          },
          "405": {
            "description": "Validation exception",
            "x-ms-summary": "Validation exception"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Update Entity",
        "tags": [
          "Audit"
        ]
      }
    },
    "/blobresources": {
      "get": {
        "description": "This returns the paginated results for Blob Resource Entity based on the OData Query Parameters.",
        "operationId": "QueryBlobResource",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BlobResourceEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Blob Resource Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "Invalid data provided",
            "x-ms-summary": "Invalid"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Query Paginated results for Blob Resource Entity",
        "tags": [
          "BlobResource"
        ]
      },
      "post": {
        "description": "This creates a new BlobResource",
        "operationId": "CreateBlobResource",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlobResourceEntity"
              }
            }
          },
          "description": "Creates a new BlobResource",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlobResourceEntity"
                }
              }
            },
            "description": "New BlobResource details added",
            "x-ms-summary": "New BlobResource details added"
          },
          "400": {
            "description": "Invalid Data",
            "x-ms-summary": "Invalid Data"
          },
          "404": {
            "description": "BlobResource not found",
            "x-ms-summary": "BlobResource not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Creates a new BlobResource",
        "tags": [
          "BlobResource"
        ]
      }
    },
    "/blobresources/search/{languageCode}": {
      "get": {
        "description": "This searches the Blob Resource Entity",
        "operationId": "SearchBlobResource",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          },
          {
            "description": "Query Text",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "q"
          },
          {
            "description": "list of comma separated label ids",
            "in": "query",
            "name": "l",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "l"
          },
          {
            "description": "The language the search text is in",
            "in": "path",
            "name": "languageCode",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "The language code"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BlobResourceEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Blob Resource Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "No entities found",
            "x-ms-summary": "No entities found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Search for Blob Resource Entity",
        "tags": [
          "BlobResource"
        ]
      }
    },
    "/blobresources/{id}": {
      "delete": {
        "description": "This deletes a(n) BlobResource by it's GUID.",
        "operationId": "DeleteBlobResource",
        "parameters": [
          {
            "description": "BlobResource id to delete",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "BlobResource id to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "x-ms-summary": "BlobResource Deleted successfully"
          },
          "404": {
            "description": "Invalid ID supplied",
            "x-ms-summary": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Deletes the Entity",
        "tags": [
          "BlobResource"
        ]
      },
      "get": {
        "description": "Finds the Blob Resource Entity by it's GUID",
        "operationId": "FindBlobResourceById",
        "parameters": [
          {
            "description": "Id of the Blob Resource Entity to retrieve",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Blob Resource Entity id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlobResourceEntity"
                }
              }
            },
            "description": "successful operation",
            "x-ms-summary": "successful operation"
          },
          "404": {
            "description": "Invalid status value",
            "x-ms-summary": "Invalid status value"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Find Blob Resource Entity by id",
        "tags": [
          "BlobResource"
        ]
      },
      "put": {
        "description": "This updates the BlobResource entity",
        "operationId": "UpdateBlobResource",
        "parameters": [
          {
            "description": "Id of the BlobResource to be updated",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "BlobResource id to update"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlobResourceEntity"
              }
            }
          },
          "description": "BlobResource that needs to be updated",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlobResourceEntity"
                }
              }
            },
            "description": "Update Blob Resource Entity details",
            "x-ms-summary": "Update BlobResource details"
          },
          "404": {
            "description": "BlobResource not found",
            "x-ms-summary": "BlobResource not found"
          },
          "405": {
            "description": "Validation exception",
            "x-ms-summary": "Validation exception"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Update Entity",
        "tags": [
          "BlobResource"
        ]
      }
    },
    "/blobs/upload/{id}": {
      "post": {
        "description": "Uploads the actual Blob data of the BlobResourceEntity. Ensure a $BlobResourceEntity already exists.",
        "operationId": "UploadBlob",
        "parameters": [
          {
            "description": "Id for the blob to be downloaded",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Blob id"
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "format": "binary",
                "type": "string"
              }
            }
          },
          "description": "Uploads a single file as whatever content type, will default to `application/octet-stream`. Add the `filename` header to overwrite the file name.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlobResourceEntity"
                }
              }
            },
            "description": "The returned BlobResourceEntity.",
            "x-ms-summary": "The returned BlobResourceEntity."
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Uploads the actual Blob data",
        "tags": [
          "Blob"
        ]
      }
    },
    "/blobs/{id}": {
      "get": {
        "description": "Downloads the blob",
        "operationId": "DownloadBlobById",
        "parameters": [
          {
            "description": "Id for the blob to be downloaded",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Blob id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "multipart/form-data": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "Successful operation",
            "x-ms-summary": "Successful operation"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Download blob by ID",
        "tags": [
          "Blob"
        ]
      }
    },
    "/blobs/{id}/{versionTag}": {
      "get": {
        "description": "Downloads the blob",
        "operationId": "DownloadBlobByIdAndTag",
        "parameters": [
          {
            "description": "Id for the blob to be downloaded",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Blob id"
          },
          {
            "description": "Entity Tag for the Blob",
            "in": "path",
            "name": "versionTag",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Blob EntityTag"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "multipart/form-data": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "Successful operation",
            "x-ms-summary": "Successful operation"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Download blob by ID and Entity Tag",
        "tags": [
          "Blob"
        ]
      }
    },
    "/causes": {
      "get": {
        "description": "This returns the paginated results for Cause Entity based on the OData Query Parameters.",
        "operationId": "QueryCause",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CauseEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Cause Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "Invalid data provided",
            "x-ms-summary": "Invalid"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Query Paginated results for Cause Entity",
        "tags": [
          "Cause"
        ]
      },
      "post": {
        "description": "This creates a new Cause",
        "operationId": "CreateCause",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CauseEntity"
              }
            }
          },
          "description": "Creates a new Cause",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CauseEntity"
                }
              }
            },
            "description": "New Cause details added",
            "x-ms-summary": "New Cause details added"
          },
          "400": {
            "description": "Invalid Data",
            "x-ms-summary": "Invalid Data"
          },
          "404": {
            "description": "Cause not found",
            "x-ms-summary": "Cause not found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Creates a new Cause",
        "tags": [
          "Cause"
        ]
      }
    },
    "/causes/search/{languageCode}": {
      "get": {
        "description": "This searches the Cause Entity",
        "operationId": "SearchCause",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          },
          {
            "description": "Query Text",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "q"
          },
          {
            "description": "list of comma separated label ids",
            "in": "query",
            "name": "l",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "l"
          },
          {
            "description": "The language the search text is in",
            "in": "path",
            "name": "languageCode",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "The language code"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CauseEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Cause Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "No entities found",
            "x-ms-summary": "No entities found"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Search for Cause Entity",
        "tags": [
          "Cause"
        ]
      }
    },
    "/causes/{id}": {
      "delete": {
        "description": "This deletes a(n) Cause by it's GUID.",
        "operationId": "DeleteCause",
        "parameters": [
          {
            "description": "Cause id to delete",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Cause id to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "x-ms-summary": "Cause Deleted successfully"
          },
          "404": {
            "description": "Invalid ID supplied",
            "x-ms-summary": "Invalid ID supplied"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Deletes the Entity",
        "tags": [
          "Cause"
        ]
      },
      "get": {
        "description": "Finds the Cause Entity by it's GUID",
        "operationId": "FindCauseById",
        "parameters": [
          {
            "description": "Id of the Cause Entity to retrieve",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Cause Entity id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CauseEntity"
                }
              }
            },
            "description": "successful operation",
            "x-ms-summary": "successful operation"
          },
          "404": {
            "description": "Invalid status value",
            "x-ms-summary": "Invalid status value"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Find Cause Entity by id",
        "tags": [
          "Cause"
        ]
      },
      "put": {
        "description": "This updates the Cause entity",
        "operationId": "UpdateCause",
        "parameters": [
          {
            "description": "Id of the Cause to be updated",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-ms-summary": "Cause id to update"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CauseEntity"
              }
            }
          },
          "description": "Cause that needs to be updated",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CauseEntity"
                }
              }
            },
            "description": "Update Cause Entity details",
            "x-ms-summary": "Update Cause details"
          },
          "404": {
            "description": "Cause not found",
            "x-ms-summary": "Cause not found"
          },
          "405": {
            "description": "Validation exception",
            "x-ms-summary": "Validation exception"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Update Entity",
        "tags": [
          "Cause"
        ]
      }
    },
    "/citations": {
      "get": {
        "description": "This returns the paginated results for Citation Entity based on the OData Query Parameters.",
        "operationId": "QueryCitation",
        "parameters": [
          {
            "description": "Top",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "top"
          },
          {
            "description": "Skip",
            "in": "query",
            "name": "$skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "x-ms-summary": "skip"
          },
          {
            "description": "Order By",
            "in": "query",
            "name": "$orderby",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "orderby"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CitationEntity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Return the Citation Entity details based on query",
            "x-ms-summary": "Valid"
          },
          "404": {
            "description": "Invalid data provided",
            "x-ms-summary": "Invalid"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Query Paginated results for Citation Entity",
        "tags": [
          "Citation"
        ]
      },
      "post": {
        "description": "This creates a new Citation",
        "operationId": "CreateCitation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
[...]
